/* You can add global styles to this file, and also import other style files */
@import "~@clr/ui/clr-ui.min.css";
@import "~@clr/icons/clr-icons.min.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.brand-title {
  font-size: 20px;
  align-items: center;
  justify-content: center;
}

.full-width {
  width: 100%;
}

.m-t-2 {
  margin-top: 2rem;
}

.m-1 {
  margin: 1rem;
}

input.ng-invalid {
  border: 1px solid red;
}

.text-warning {
  color: red;

}
